<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.index.link_delete"), user, method: :delete,
    data: {confirm: t("users.index.confirm_delete")}, class: "text-danger" %>
  <% end %>
</li>
