<% provide :title, t(".title") %>
<% provide :button_text, t(".frm_btn_save") %>
<h1><%= t".header" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="gravatar_edit">
      <%= render "form" %>
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank"><%= t ".change" %></a>
    </div>
  </div>
</div>
